@media screen and (min-width: 2200px) {
    .container {
        width: 70vw;
    }
}

@media screen and (max-width: 700px) {
    header {
        height: 450px;
    }
    header > nav {
        flex-direction: column;
        height: auto;
    }
    
    header > nav > ul {
        flex-direction: column;
    }
    
    header > nav > ul > li {
        height: 60px;
        width: 100%;
    }
    
    header > nav > ul > li:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    header > nav > ul > li:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
    }
    
}
